/* --------------------------------- 
header
-----------------------------------*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  opacity: 0;
  box-shadow: none;
  z-index: 1;
  background-color: white;
  transition: background-color .5s, opacity .5s;
}

header.appear {
  opacity: 0.95;
  background-color: white;
  box-shadow: 0 0 4px rgb(170, 170, 170);
}

header > #header-logo {
  display: flex;
  align-items: center;
}

header #header-logo > #header-icon {
  font-size: 32px;
  
}
header #header-logo > h1 {
  font-size: 32px;
  font-weight: normal;
}


/* headerのposition: fixed;のための高さ調整 */
/* #target {
  height: 85px;
} */

/* ----------------------------
menu
----------------------------- */
#menu-open {
  width: 32px;
  height: 26px;
  position: fixed;
  top: 32px;
  right: 6%;
  left: auto;
  cursor: pointer;
  z-index: 3;
}

#menu-open span {
  position: absolute;
  background-color: black;
  width: 35px;
  height: 2px;
  top: 0;
  right: 0;
  transform: none;
  opacity: 1;
  transition: all .3s;
}

#menu-open span:nth-child(2) {
  top: 12px;
}
#menu-open span:nth-child(3) {
  top: 24px;
}

#menu-open.hidden span {
  top: 12px;
}

#menu-open.hidden span:nth-child(1){
  transform: rotate(-135deg);
}

#menu-open.hidden span:nth-child(2) {
  opacity: 0;
}

#menu-open.hidden span:nth-child(3){
  transform: rotate(135deg);
}
