/* hero */

.hero {
  min-height: 700px;
  position: relative;
}

.hero h1 {
  position: absolute;
  right: 10%;
  top: 50%;
  animation-name: hero-delay;
  animation-duration: 1.8s;
  text-align: center;
  color: white;
  letter-spacing: 12px;
  align-self: center;
  font-size: 1.8rem;
}

.hero img {
  position: absolute;
  min-height: 500px;
  max-height: 600px;
  top: 0;
  width: 100%;
  animation-name: hero;
  animation-duration: .9s;
  z-index: -1;
  background-size: cover;
  border: unset;
  box-shadow: unset;
  border-radius: unset;
}


/* about */

.about {
  height: 600px;
  text-align: center;
  border-top: 1px solid #eee;
  background-color: rgb(236, 255, 206);
  padding: 128px 0;
}

.about-text {
  width: calc(100% - 64px);
}

.about-text p {
  padding: 48px;
}

.about h2 {
  margin-bottom: 64px;
}
/* main */

main {
  padding: 128px 0;
  
}

main section + section {
  border-top: 1px solid #eee;
}

.access {
  text-align: center;
  padding: 64px 0 32px;
}

.access a {
  opacity: 1;
  font-size: .95rem;
  display: inline-block;
  margin: 0 auto;
  transition: opacity .3s;
}

.access a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

/* section profile */

.profile {
  padding: 128px 0;
}

.profile p {
  padding: 48px;
}

.profile .author {
  padding-left: 64px;
}
.profile .author img {
  border-radius: 50%;
}
/* sectin skills */

.skills {
  padding: 128px 0;
}

.skills > p {
  padding: 48px;
}

.skills p {
  padding-bottom: 16px;
}

.skills-table {
  font-size: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skills-table table {
  border: 1px solid black; 
  padding: 16px;
  margin: 64px 0;
}

.skills-table table tr th,
.skills-table table tr td {
  padding-top: 8px;
}

.skills-table table tr td:nth-child(1) {
  padding-right: 8px;
}
.skills-table table tr td:nth-child(3){
  padding-left: 8px;
}


table tbody tr {
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

.skills-head {
  display: flex;
  justify-content: space-between;
  gap: 0 42px;
}

.skills-img {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.skills-img img {
  margin-bottom: 8px;
  width: 45%;
}
.assessment-simple {
  display: flex;
  align-items: center;
}

.assessment-logo {
  padding-left: 72px;
}

.skills .theme {
  padding-top: 32px;
  padding-bottom: 8px;
}
/* article */
.artifact {
  padding: 128px 0;
}

.artifact > p {
  padding: 48px;
}

.artifact #item,
.artifact #copy {
  border: 1px solid black;
  margin-top: 32px;
}

#copy,
#item,
#quote {
  padding: 16px;
}

#copy ul,
#item ul {
  display: flex;
  align-items: center;  
}

#copy ul li a:hover,
#item ul li a:hover {
  text-decoration: underline;
}

.file {
  display: flex;
}

.file li {
  padding-left: 16px;
  color: blue;
}

.artifact #quote {
  margin-top: 64px;
}

.artifact #quote ul {
  margin: 0;
}

.artifact #quote ul li {
  padding-top: 16px;
}

.artifact #quote li a{
  font-size: 0.7rem;
}

@keyframes hero {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: .3;
    transform: none;
  }
}

@keyframes hero-delay {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* レスポンシブ対応 */
@media(max-width: 600px){
  #copy ul,
  #item ul {
    display: block;
    padding: 8px 0;
  }
  .file li {
    padding: 4px 0 0 32px;
  }
}

@media(max-width: 1000px){
  .skills-table {
    display: block;
  }

  .skills-table table + table {
    margin-top: 64px;
  }
}

/* API animation */
#profile-img,
.skills-imgs img{
  transform: translateY(40px);
  opacity: 0;
  transition: transform .3s, opacity .3s;
}

#profile-img.appear,
.skills-imgs img.appear {
  transform: none;
  opacity: 1;
}

#profile-img.appear:hover,
.skills-imgs img.appear:hover {
  opacity: .8;
}