/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/common.scss ***!
  \*******************************************************************************************************************************************/
/* --------------------------------- 
common
-----------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
}

img {
  box-shadow: 2px 2px rgb(134, 134, 134);
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #eee;
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  /* background-color: #eee; */
}

h2 {
  margin: 0;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  padding: 64px 0;
}

/* z-index */
/* 
header 2
header > #menu-open 4
#menu 3
*/
/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/header.scss ***!
  \*******************************************************************************************************************************************/

/* --------------------------------- 
header
-----------------------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  opacity: 0;
  box-shadow: none;
  z-index: 1;
  background-color: white;
  transition: background-color 0.5s, opacity 0.5s;
}
header .appear {
  opacity: 0.95;
  background-color: white;
  box-shadow: 0 0 4px rgb(170, 170, 170);
}
header > #header-logo {
  display: flex;
  align-items: center;
}
header > #header-logo > #header-icon {
  font-size: 32px;
}
header > #header-logo > h1 {
  font-size: 24px;
  font-weight: normal;
}

/* headerのposition: fixed;のための高さ調整 */
/* #target {
  height: 85px;
} */
/* ----------------------------
menu
----------------------------- */
#menu-open {
  width: 32px;
  height: 26px;
  position: fixed;
  top: 32px;
  right: 6%;
  left: auto;
  cursor: pointer;
  z-index: 3;
}
#menu-open span {
  position: absolute;
  background-color: black;
  width: 35px;
  height: 2px;
  top: 0;
  right: 0;
  transform: none;
  opacity: 1;
  transition: all 0.3s;
}
#menu-open span:nth-child(2) {
  top: 12px;
}
#menu-open span:nth-child(3) {
  top: 24px;
}
#menu-open .hidden span {
  top: 12px;
}
#menu-open .hidden span:nth-child(1) {
  transform: rotate(-135deg);
}
#menu-open .hidden span:nth-child(2) {
  opacity: 0;
}
#menu-open .hidden span:nth-child(3) {
  transform: rotate(135deg);
}
/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \*****************************************************************************************************************************************/

/* hero */
.hero {
  min-height: 700px;
  position: relative;
}
.hero h1 {
  position: absolute;
  right: 10%;
  top: 50%;
  animation-name: hero-delay;
  animation-duration: 1.8s;
  text-align: center;
  color: white;
  letter-spacing: 12px;
  align-self: center;
  font-size: 1.2rem;
}
.hero img {
  position: absolute;
  min-height: 500px;
  max-height: 600px;
  top: 0;
  width: 100%;
  animation-name: hero;
  animation-duration: 0.9s;
  z-index: -1;
  background-size: cover;
  border: unset;
  box-shadow: unset;
  border-radius: unset;
}

/* about */
.about {
  height: 600px;
  text-align: center;
  border-top: 1px solid #eee;
  background-image: url(../../imgs/main/background_image.png);
  background-repeat: repeat-x;
  background-position: center;
  padding: 128px 0;
}
.about h2 {
  margin-bottom: 64px;
}

.about-text {
  width: calc(100% - 64px);
}
.about-text p {
  padding: 48px;
}

/* main */
main {
  padding: 128px 0;
}
main section + section {
  border-top: 1px solid #eee;
}

.access {
  text-align: center;
  padding: 64px 0 32px;
}
.access a {
  opacity: 1;
  font-size: 0.95rem;
  display: inline-block;
  margin: 0 auto;
  transition: opacity 0.3s;
}
.access a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

/* section profile */
.profile {
  padding: 128px 0;
}
.profile p {
  padding: 48px;
}
.profile .author {
  padding-left: 64px;
}
.profile .author img {
  border-radius: 50%;
}

/* sectin skills */
.skills {
  padding: 128px 0;
}
.skills > p {
  padding: 48px;
}
.skills p {
  padding-bottom: 16px;
}

.skills-table {
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.skills-table table {
  border: 1px solid black;
  padding: 16px;
  margin: 64px 0;
}
.skills-table table tr td {
  padding-top: 8px;
}
.skills-table table tr td:nth-child(1) {
  padding-right: 8px;
}
.skills-table table tr th {
  padding-top: 8px;
}
.skills-table table tr th:nth-child(3) {
  padding-left: 8px;
}
.skills-table table tbody tr {
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

.skills-head {
  display: flex;
  justify-content: space-between;
  gap: 0 42px;
}

.skills-img {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.skills-img img {
  margin-bottom: 8px;
  width: 45%;
}

.assessment-simple {
  display: flex;
  align-items: center;
}

.assessment-logo {
  padding-left: 72px;
}

.skills .theme {
  padding-top: 32px;
  padding-bottom: 8px;
}

/* article */
.artifact {
  padding: 128px 0;
}
.artifact > p {
  padding: 48px;
}
.artifact #item,
.artifact #copy {
  border: 1px solid black;
  margin-top: 32px;
  padding: 16px;
}
.artifact #item ul,
.artifact #copy ul {
  display: flex;
  align-items: center;
}
.artifact #item ul li a:hover,
.artifact #copy ul li a:hover {
  text-decoration: underline;
}
.artifact .file {
  display: flex;
}
.artifact .file li {
  padding-left: 16px;
  color: blue;
}
.artifact #quote {
  margin-top: 64px;
  padding: 16px;
}
.artifact #quote ul {
  margin: 0;
}
.artifact #quote ul li {
  padding-top: 16px;
}
.artifact #quote ul li a {
  font-size: 0.7rem;
}

@keyframes hero {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 0.3;
    transform: none;
  }
}
@keyframes hero-delay {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* レスポンシブ対応 */
@media (max-width: 600px) {
  #copy ul,
#item ul {
    display: block;
    padding: 8px 0;
  }
  .file li {
    padding: 4px 0 0 32px;
  }
}
@media (max-width: 1000px) {
  .skills-table {
    display: block;
  }
  .skills-table table + table {
    margin-top: 64px;
  }
}
/* API animation */
#profile-img,
.skills-imgs img {
  transform: translateY(40px);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
#profile-img .appear,
.skills-imgs img .appear {
  transform: none;
  opacity: 1;
}
#profile-img .appear:hover,
.skills-imgs img .appear:hover {
  opacity: 0.8;
}
/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/footer.scss ***!
  \*******************************************************************************************************************************************/
/* --------------------------------- 
footer
-----------------------------------*/
footer {
  padding: 16px 0 32px 0;
  background-color: rgb(236, 255, 206);
  box-shadow: 0 -2px #eee;
}

.footer-area {
  text-align: center;
}
.footer-area .footer-navi {
  display: flex;
  justify-content: space-between;
  padding-bottom: 64px;
}
.footer-area .footer-navi .page-move {
  padding-top: 32px;
  padding-left: 32px;
}
.footer-area .footer-navi .page-move li + li {
  padding-top: 12px;
}
.footer-area .footer-navi .sns {
  display: flex;
  margin-top: 96px;
}
.footer-area .footer-navi .sns li + li {
  padding-left: 32px;
}
/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/menu.scss ***!
  \*****************************************************************************************************************************************/

/* --------------------------------- 
menu
-----------------------------------*/
#menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(225, 225, 225);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 2;
  /* -------------menuに関するanimation------------- */
  /* menu-iconクリック時のmenuの表示 */
}
#menu > nav {
  margin-left: 45%;
}
#menu > nav > ul {
  padding-top: 150px;
  width: 150px;
}
#menu > nav > ul li {
  user-select: none;
  cursor: pointer;
  font-size: 1.2rem;
  transform: translateY(30px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
#menu > nav > ul li + li {
  padding-top: 20px;
}
#menu .appear {
  pointer-events: auto;
  opacity: 0.95;
  /* -----------------menuリストのanimation-------------------- */
}
#menu .appear > nav > ul li {
  transform: none;
  opacity: 1;
}
#menu .appear > nav > ul li:nth-child(1) {
  transition-delay: 0.1s;
}
#menu .appear > nav > ul li:nth-child(2) {
  transition-delay: 0.2s;
}
#menu .appear > nav > ul li:nth-child(3) {
  transition-delay: 0.3s;
}
#menu .appear > nav > ul li:nth-child(4) {
  transition-delay: 0.4s;
}
#menu .appear > nav > ul li:nth-child(5) {
  transition-delay: 0.5s;
}
/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/pageback.scss ***!
  \*********************************************************************************************************************************************/
#to-top {
  position: fixed;
  right: 16px;
  bottom: 16px;
  font-size: 32px;
  cursor: pointer;
  display: none;
}
#to-top .appear {
  display: block;
}
